* {
    margin: 0;
    padding: 0;
}

body {
    background: #088185;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: rgba(48, 9, 9, 0.871);
    padding: 15px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-links {
  display: flex;
  gap: 60px;
}

.nav-links a {
    padding: 5px 0;
    text-decoration: none;
    color: white;
}
.nav-links a:hover {
    color: rgb(115, 9, 119);
}

.page {
    flex: 1;
    padding: 200px;
    background-image: url("background-blur.jpg");
    background-size: cover;
    text-align: center;
}

h2 {
    font-size: 60px;
    font-weight: bolder;
}

p {
    padding: 25px;
    font-size: 30px;
    font-weight: bold;
}

button {
    padding: 15px 40px;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 16px;
}

.foot-box {
    height: 170px;
    color: white;
    background-color: rgba(48, 9, 9, 0.871);
    padding: 15px;
    align-items: center;
    justify-content: center;
}